 
    h1{
        font-style: oblique;
    }
    #descripition {
        font-style: italic ;
    
    }
    #naturale {
        font-family: sans-serif
    }
    .comunication{
        font-size: 21px
    }
    .worker{
        font-size: 19px;
    }
    .dedicated{
        font-size: 17px;
    }
    .team{
        font-size: 15px;
    }
       body {
           background-color:rgb(232, 163, 34)
