 
    h1{
        font-style: oblique;
    }
    #descripition {
        font-style: italic ;
        background-position: 50% 25%;
    
    }
    #naturale {
        font-family: sans-serif
    }
    .comunication{
        font-size: 21px
    }
    .worker{
        font-size: 19px;
    }
    .dedicated{
        font-size: 17px;
    }
    .team{
        font-size: 15px;
    }
       body {
           background-color:rgb(232, 163, 34)
  

      }
      .header {
          background-color: darkorange;
          display: inline-flex;
          
          

          
          
        
           
      }
      .name{
          background-color: darkorange;
          display: block;
         font-size: 2em;
         margin-block-start: 0.67em;
         margin-block-end: 0.67em;
         margin-inline-start: 0px;
         margin-inline-end: 0px;
         font-weight: bold;
         
      }
    .description{
        background-color: darkorange;
        position: absolute;
    
    }    
.habilition{
    position: relative;
    height: 50%;
    
}
header, .description    {
    display: inline-flex
}
